<% provide(:title, 'Home') %>

<%= link_to image_tag("sc.png", alt: "Rails"), 'http://searleconsulting.com/' %>

<% if signed_in? %>
    <br>
    <br>
    <div id="today_activity">
      <%= render 'activities/activity', :activities => @today_activities, :header => 'Activities due today' %>
    </div>
    <div id="future_activity">
      <%= render 'activities/activity', :activities => @future_activities, :header => 'Activities due in 5 days' %>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome</h1>

      <h2>
        This is the CRM framework for the
        <a href="http://searleconsulting/">Searle Consulting</a>
        web app.
      </h2>

      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>
<% end %> 