<div id= "filter">
  <%= render 'shared/people_tag_filter' %>
</div>
<div id="people">
   <%= render 'people'  %>
</div>
<div>    <%= link_to 'new',
                     new_person_path,
                     :class => 'btn btn-primary' %></div>